/* Media queries for repeating elements */

@media only screen and (max-width: 696px) {
    header {
        grid-template-columns: repeat(2, auto);
        justify-content: space-between;
    }

    header .button {
        display: none;
    }

    section .flex-wrap-content article {
        min-width: fit-content;
    }

    figure {
        min-width: 0;
        width: 100%;
    }

    section, .home-flexbox {
        margin: 1em;
    }

    section h2 {
        margin: 0.5em 0 1em;
    }

    section .grid-content {
        gap: 1em;
    }
}

@media only screen and (max-width: 495px) {
    header {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    header span {
        display: none;
    }
}

@media only screen and (max-width: 416px) {
    html {
        font-size: 14px;
    }
}