/* Colours */

:root {
    --bg-color: rgb(46, 46, 53);
    --lighter-bg-color: rgb(60, 60, 63);

    --fg-color: rgb(255, 255, 255);
    --lighter-fg-color: rgba(255, 255, 255, 0.6);

    --highlight-color: rgb(232, 183, 69);
    --lighter-highlight-color: rgb(232, 199, 123);

    --footer-bg-color: rgb(255, 255, 255);
}

/* Universal elements */

* {
    font-size: 1em;
    font-weight: normal;
    line-height: normal;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    scrollbar-color: var(--lighter-bg-color) var(--bg-color);
    scroll-padding-top: 7em;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--bg-color);
    color: var(--fg-color);
}

/* Header */

header {
    font-family: "Lexend", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 1em 2em;
    background-color: var(--lighter-bg-color);
    color: var(--fg-color);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.6);
}

header span {
    font-size: 2em;
    font-weight: bold;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;

}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    column-gap: 3em;
}

nav a {
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--highlight-color);
    transition: color 0.3s ease;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 1em;
    padding: 3em;
    min-height: calc(100vh - 11em + 11px);
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
    background-color: var(--lighter-bg-color);
    color: var(--fg-color);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.6);
}

/* Portfolio grid */

.portfolio-grid {
    display: grid;
    grid-template-columns: 9em 1fr;
}

/* Portfolio navigation */

aside nav {
    position: fixed;
    z-index: 10;
    left: 3em;
    top: calc(50vh - 9.5em + 3.5em);
}

aside nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    row-gap: 1em;
}

aside nav li {
    background-color: var(--bg-color);
    padding: 0.5em 0;
    font-size: 1.2em;
}

.nav-design {
    position: fixed;
    left: 6em;
    top: calc(50vh - 13em + 3.5em);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
}

.nav-design .circle {
    position: absolute;
    width: 1em;
    height: 1em;
    background-color: var(--fg-color);
    border-radius: 100%;
}

#bottom {
    bottom: 0;
}

.nav-design .vertical-line {
    width: 0.3em;
    height: 24em;
    background-color: var(--fg-color);
}

@media only screen and (max-width: 1012px), (max-height: 500px) {
    .portfolio-grid {
        grid-template-columns: 0 1fr;
    }

    aside nav, .nav-design {
        display: none;
    }
}

/* Section */

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em;
    border-bottom: 3px solid var(--highlight-color);
}

section h2 {
    margin-bottom: 1.5em;
}

.flex-wrap-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    width: 100%;
    margin-bottom: 2em;
}

.flex-wrap-content article {
    margin: 1em 1.5em;
    flex: 1 1 32em;
    min-width: 32em;
}

.flex-column-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
}

.grid-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 3em;
    width: 100%;
    margin-bottom: 3em;
}

.last-section {
    border-bottom: none;
    margin-bottom: 0;
}

/* Figure */

figure {
    margin: 0 1.5em 2em;
    min-width: 25em;
    max-width: 30em;
    flex: 1 1 30em;
}

figure img {
    width: 100%;
    height: auto;
    border-radius: 2em;
}

figure figcaption {
    font-size: 1.2em;
    text-align: center;
    margin-top: 0.5em;
}

/* Skills */

.skills-flexbox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3em;
    width: 100%;
    margin-bottom: 3em;
}

.skills h3 {
    text-align: center;
    margin-bottom: 0.3em;
}

.skill-and-level {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 1em;
    width: 14em;
}

.skill-and-level .skill-bar {
    justify-self: end;
    align-self: center;
}

.skill-bar {
    position: relative;
    background-color: var(--lighter-bg-color);
    border-radius: 2em;
    height: 0.5em;
    width: 5em;
}

.skill-bar-level {
    border-radius: 2em;
    position: absolute;
    background-color: var(--highlight-color);
    height: 0.5em;
}

@media only screen and (max-width: 882px) {
    .skills-flexbox {
        flex-direction: column;
    }
}

.one {
    width: 1em;
}

.two {
    width: 2em;
}

.three {
    width: 3em;
}

.four {
    width: 4em;
}

.five {
    width: 5em;
}

/* Education, experience and project */

.experience {
    width: 100%;
    margin-bottom: 2em; 
}

.experience .location-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.2em;
}

.experience p {
    font-size: 1em;
    color: var(--lighter-fg-color);
    font-style: italic;
}

.experience .description {
    font-size: 1.1em;
}

.project {
    text-align: center;
}

.lighter-container {
    position: relative;
    box-sizing: border-box;
    background-color: var(--lighter-bg-color);
    height: auto;
    width: 100%;
    height: 100%;
    border-radius: 2em;
    padding: 1em;
    margin: 0;
}

.lighter-container h4 + p {
    font-size: 1em;
    font-style: normal;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 3px solid var(--fg-color);
}

.lighter-container h3 + .description {
    padding-top: 0.5em;
    margin: 0.5em 0 3.5em;
    border-top: 3px solid var(--fg-color);
}

.button-inside-textbox {
    position: absolute;
    bottom: 1.5em;
    width: calc(100% - 2em);
    display: flex;
    justify-content: center;
}

.two-columns {
    grid-column: span 2;
}

@media only screen and (max-width: 1402px) {
    #experience .grid-content, #projects .grid-content {
        grid-template-columns: 1fr;
    }

    .two-columns {
        grid-column: span 1;
    }
}

/* Text elements */

h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 1em;
}

h2 {
    font-size: 2.5em;
    font-weight: bold;
}

h3, h4 {
    font-size: 1.2em;
    font-weight: bold;
}

h3 {
    color: var(--highlight-color);
}

h4 {
    font-weight: normal;
    line-height: 1.3em;
}

p, h6 {
    font-size: 1.2em;
    line-height: 1.3em;
}

h6 {
    font-weight: bold;
    margin-bottom: 1em;
    font-style: italic;
    color: var(--highlight-color);
}

p {
    font-weight: normal;
}


/* Button */

.button {
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 600;
    background-color: var(bg-color);
    color: var(--highlight-color);
    border: 3px solid var(--highlight-color);
    padding: 1em 2em;
    border-radius: 1em;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.button:hover {
    background-color: var(--highlight-color);
    color: var(--fg-color);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

form .button, .project .button {
    background-color: var(--highlight-color);
    color: var(--header-footer-bg-color);
}

form .button:hover, .project .button:hover {
    background-color: var(--lighter-highlight-color);
    border-color: var(--lighter-highlight-color);
}

form .button {
    border-radius: 0.5em;
    padding: 0.8em 2em;
}

.project .button {
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-weight: 500;
    font-size: 1em;
}

@media only screen and (max-width: 696px) {
    header {
        flex-direction: column;
        row-gap: 1em;
    }

    section .flex-wrap-content article {
        min-width: fit-content;
    }

    figure {
        min-width: 0;
        width: 100%;
    }

    section {
        margin: 1em;
    }

    section h2 {
        margin: 0.5em 0 1em;
    }

    section .grid-content {
        gap: 1em;
    }
}

@media only screen and (max-width: 380px) {
    html {
        font-size: 14px;
    }

    footer {
        font-size: 0.8em;
    }
}